ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
  margin-left: -40px;
}
a {
  color: #000;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
body {
    font-family: 'Jost', sans-serif;
}

.header {
    margin: 0 auto;
    max-width: 640px;
    min-height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e1e1;
}

.main {
    margin: 0 auto;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #c7c7c7;
}
.main__top-title {
    min-height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__top-title p {
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    color: #9D664A;
}

.section-content {
    margin: 0 auto;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c7c7c7;
}
.section-content__title {
    margin-top: 50px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 28px;
    text-align: center;
    color: #9D664A;
}
.section-content__subtitle {
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    color: #717171;
}
.section-content__signature {
    margin-bottom: 60px;
}
.section-content__button {
    margin-bottom: 50px;
    width: 260px;
    height: 65px;
    background: linear-gradient(90deg, #9D664A 0%, #E4A381 53.51%, #9D664A 102.74%);
    border-radius: 10px;
}
.section-content__button p {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    color: #fff;
}
.section-content__achievements {
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.section-content__achievements__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}
.section-content__achievements__item__figure {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 69px;
    color: #9D664A;
}
.section-content__achievements__item__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #9D664A;
}

.footer {
    margin: 0 auto;
    max-width: 640px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cFcFcF;;
}
.footer__title {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #717171;
}
.footer__subtitle {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #717171;
}
.footer__signature {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-decoration-line: underline;
    color: #717171;
}

.space {
    height: 100px;
}

/*--------------------------*/

.contacts {
    width: 600px;
    height: max-content;
    padding-top: 250px;
    margin: 0 auto;
    max-width: 640px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #C7C7C7;
}
.contacts__header {
    padding-top: 210px;
    min-height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacts__header {
    
}
.contacts__main-title {
    margin-bottom: 50px;
    width: 600px;
    min-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;background: linear-gradient(89.92deg, #A36C4F -1.11%, #E4A381 48.36%, #A36C4F 99.42%);
}
.contacts__title {
    padding-bottom: 30px;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 28px;
    /* or 100% */
    
    text-align: center;
    letter-spacing: -0.03em;
    
    color: #A56E51;
}
.contacts__subtitle {
    padding-bottom: 50px;
    width: 100%;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    
    text-align: center;
    letter-spacing: -0.03em;
    
    color: #717171;
    
    background: #C7C7C7;
}
.contacts__footer {
    padding-bottom: 60px;
    width: 100%;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 28px;
    /* or 100% */
    
    text-align: center;
    letter-spacing: -0.03em;
    
    color: #A56E51;
    background: #C7C7C7;
}

/*-------------------------*/

